@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Wix Madefor Display Regular";
  src: url("../app//fonts/WixMadeforDisplay-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: #fffbeb;
  font-family: "Wix Madefor Display Regular";
  font-weight: 400;
}

